<!DOCTYPE html>
<html>
  <head>
    <title>LabRubyOe15TicketFair</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "false" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "false" %>
  </head>
  <body class="nav-md">
      <div class="container body">
        <div class="main_container">
          <%= render "layouts/header.admin" %>

          <%= render "layouts/sidebar.admin" %>

          <!-- page content -->
          <div class="right_col" role="main">
            <% yield %>
          </div>
          <!-- /page content -->

          <%= render "layouts/footer.admin" %>
        </div>
      </div>
    </body>
</html>
